<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2024 Andrea Cimatti - https://www.cimatti.it

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-electron-dialogs-fix"
    version="0.1.1">

    <name>Cordova Electron dialogs fix</name>
    <description>Fix focus issue when alert() or confirm() are called in a Cordova Electron app</description>
    <author>Andrea Cimatti - https://www.cimatti.it</author>
    <license>Apache-2.0</license>
    <keywords>cordova,electron,alert,confirm,focus,input</keywords>
    <repo>https://github.com/cimatti/cordova-electron-dialogs-fix</repo>
    <issue>https://github.com/cimatti/cordova-electron-dialogs-fix/issues</issue>

    <engines>
        <engine name="cordova-electron" version=">=3.0.0" />
    </engines>

    <platform name="electron">
        <js-module src="www/cordova-electron-dialogs-fix.js" name="cordova_electron_dialogs_fix">
            <runs />
        </js-module>
        <framework src="src/electron" />
    </platform>
</plugin>
